.container {
    font-family: 'lato', sans-serif;
    max-width: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
h2 small {
    font-size: 0.5em;
}

.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px 0 18px;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table .table-header {
    background-color: #4973ff;
    font-size: 14px;
    text-transform: uppercase;
    width: 100vw;
}
.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 10%;
}
.responsive-table .col-2 {
    flex-basis: 40%;
}
.responsive-table .col-3 {
    flex-basis: 25%;
}
.responsive-table .col-4 {
    flex-basis: 25%;
}
@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
   }
    .responsive-table li {
        display: block;
   }
    .responsive-table .col {
        flex-basis: 100%;
   }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
   }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
   }
}
