<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Display</title>
    <!-- <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico"> -->
</head>
<body>
    <div align="middle">
        <p>{{filename}}</p>
        <img src="../static/uploads/{{filename}}" alt="INSAT-3D IR Image" width="800" align="middle"/>
    </div>
<footer>
  <center>
    <a href="/archive">Archive</a>
  </center>
</footer>
</body>
</html>